# Режим отладки (True для локальной разработки, False на проде)
DEBUG=True

# Django secret key (сгенерируй отдельно и вставь в .env)
SECRET_KEY=your-secret-key

# Хосты, которым разрешено подключаться к проекту
ALLOWED_HOSTS=127.0.0.1,localhost

# Настройки базы данных (PostgreSQL)
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432

#Хранение медиафайлов
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
