{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>  
{% endblock title %}

{% block content %}
    <div class="text-center py-5 mt-5  mx bg-white rounded">
        <h1 class="mb-1  font"><strong>🏡 Добро пожаловать в «Коммуналку»!</strong></h1>
        <p class="lead fw-bold mb-4 font">
            Здесь легко вести учёт коммунальных услуг для вашего дома или квартиры.<br>
            Всё просто, удобно и под контролем.<br>
            Давайте вместе сделаем заботу о доме лёгкой и приятной! 🌟<br>
            Для плодотворной работы Вам необходимо войти в личный кабинет или зарегистрироваться!
        </p>
        <a href="{% url "user:login" %}" class="btn btn-success btn-lg">
            🚀 Начать
        </a>
    </div>
    
{% endblock content %}

